<ion-header>
  <ion-buttons slot="start">
    <ion-back-button title="">dsdsfdsfdsfvfd</ion-back-button>
    </ion-buttons>
  <ion-toolbar color="tertiary">
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title color="tertiary">What do you want to do with recyclable waste</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-radio-group color="tertiary" value="strawberries">
        <ion-item>
          <ion-label>Buy</ion-label>
          <ion-radio slot="start" value="buy"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Sell</ion-label>
          <ion-radio slot="start" value="sell"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title color="tertiary">Contact</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirm Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Phone</ion-label>
          <ion-input type="tel"></ion-input>
        </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title color="tertiary">Address Information</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-item>
          <ion-label position="floating">Address</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Number</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Neighbourhood</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Complement</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">City</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">State</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Zip</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-button expand="block">Register</ion-button>
</ion-content>
