
ion-button {
    margin: 10px;
}

ion-card {
    margin: 20px;
    --color: black;
}

ion-content, ion-label {
    --ion-text-color: black;
}

ion-header {
    --ion-text-color: #fff;
}

ion-input, ion-item {
    --border-color: rgb(218, 214, 214);
}