<ion-header color="tertiary">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Pickup Call</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!-- <app-pickup-call-card></app-pickup-call-card> -->
</ion-content>








<!-- <ion-content>
  <img src="https://upload.wikimedia.org/wikipedia/commons/3/35/Relief_World_Map_by_maps-for-free.jpg" />
  <ion-card>
    <ion-card-content>
      <p>Address</p>
      <p>Name</p>
      <p>hno</p>
      <p>city</p>
      <p>state</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title>
      Notes
    </ion-card-title>
    <ion-card-content>
      <ion-input placeholder="Notes" type="text"></ion-input>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Last Pickup call</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item lines="none">
        <ion-icon name="hourglass-outline" slot="start" color="warning"></ion-icon>
      
        <ion-label>
          On Hold
          <p>1/12/13</p>
        </ion-label>

      </ion-item>
      <ion-item lines="none">
        <ion-label>
        <p>Created at 1/1/2026</p>
        <p>Notes: we have 2 full bags. pickuo whatever you need and leave the leftovers</p>
        </ion-label>
      </ion-item>
      <ion-button fill="clear" color="primary" size="full">Pickup</ion-button>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title>Last Pickup call</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none">
        <ion-icon name="hourglass-outline" slot="start" color="warning"></ion-icon>
      
        <ion-label>
          On Hold
          <p>1/12/13</p>
        </ion-label>

      </ion-item>
      <ion-item lines="none">
        <ion-label>
        <p>Created at 1/1/2026</p>
        <p>Notes: we have 2 full bags. pickuo whatever you need and leave the leftovers</p>
        </ion-label>
      </ion-item>
      <ion-button fill="clear" color="primary" size="full">Pickup</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content> -->
